@{
	ViewBag.Title = "Forgot Password Confirmation";
}


<html>
<body>


	<div class="right_col" role="main">
		<div class="">

			@*<div class="clearfix"></div>*@
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h1>Forgot Password Confirmation<small></small></h1>
							<div class="x_content">

							</div>
							@*<div class="clearfix"></div>*@
						</div>
						<div class="x_content">
							<p class="text-muted font-13 m-b-30">

							</p>
							<div>
								<p>
									Please check your email to reset your password.
								</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
</body>
</html>