
@{
	ViewBag.Title = "InviteError";
}

<html>
<body>


	<div class="right_col" role="main">
		<div class="">

			@*<div class="clearfix"></div>*@
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h1>Invite Error <small><br /><br /> Did you already use your invite in a previous attempt to join a household? <br/> If so, contact household to request another invite.</small></h1>

							Add inviter email so person can contact head of household...............


							<div class="x_content">

							</div>
							@*<div class="clearfix"></div>*@
						</div>
						<div class="x_content">
							<p class="text-muted font-13 m-b-30">

							</p>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
</body>
</html>